<!DOCTYPE html>
<html>
    <head>
        <title>Animals</title>
        <link rel="stylesheet" href="/public/styles.css">
    </head>
    <body>
        <%- include('./partials/navbar') %>
    </body>
</html>