nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: coral;
}

h1 {
    color: red;
}