nav {
    background-color: rgb(19, 207, 19);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: rgb(0, 140, 255);
}

h1 {
    color: rgb(0, 140, 255);
    align-items: center;
}

.submit-button{
   background-color:  rgb(19, 207, 19);
}

.label{
    color: rgb(0, 140, 255);
}